{% extends 'auth.html' %}
{% block head %}
    <title>Manage Products</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <br><br><table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Display</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>   
    {% for i in range(products|length) %}
        <tr>
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ products[i].name }}</td>
            <td>
                <a href='manage/reviews/{{products[i].key}}'>Reviews</a><br>
                <a href='manage/feedback/{{products[i].key}}'>Feedback</a>
            </td>
            <td>
                <a href='manage/delete/{{products[i].key}}'>Delete</a><br>
                <a href='manage/edit/{{products[i].key}}'>Edit</a><br>
                <a href='manage/displayqr/{{products[i].key}}'>QR</a>
            </td>
        </tr>
    {% endfor%}
    </tbody>
    </table>
</div>
{% endblock %}
