{% extends 'form.html' %}
{% block head %}
    <title>Sign Up</title>
{% endblock %}

{% block form %}
  <h5 class="card-title text-center">Sign Up</h5><br>
  <form class="form-signin" method="post">
    <div class="form-label-group">
      <input type="text" id="username" name="username" class="form-control" placeholder="Create login" required autofocus><br>
    </div>
    <div class="form-label-group">
      <input type="password" id="password" name="password" class="form-control" placeholder="Create Password" required><br>
    </div>
    <button class="btn btn-lg btn-dark btn-block text-uppercase" type="submit" name="submit">Create Account</button>
    <hr class="my-4">
  </form>
{% endblock %}