{% extends 'authform.html' %}
{% block head %}
    <title>Add Product</title>
{% endblock %}

{% block form %}
    <h5 class="card-title text-center">Add Product</h5><br>
    <form method="post">
        <div class="form-group">
            <label for="productName">Product Name</label>
            <input type="text" class="form-control" name="productName" id="productName" maxlength="100" placeholder="Name" required>
        </div>
        <div class="form-group">
            <label for="upc">Product UPC</label>
            <input type="number" max='999999999999' class="form-control" name="upc" id="upc" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="description">Product Description</label>
            <textarea class="form-control" name="description" id="description" rows="3" required maxlength="1000"></textarea><br>
        </div>
        <button class="btn btn-lg btn-dark btn-block text-uppercase" type="submit" name="submit">Add Item</button>
    </form>
{% endblock %}