<!--This is extantiation of authentificated template, it focused on displaying
one form on the middle of authentificated page, it is as much as we need for 
simple add product pages and so on-->

{% extends 'auth.html' %}
{% block head %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    {% block form %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}