<!--This is extantiation of base template, it focused on displaying one 
form on the middle of page. This is as much as we need for simple
login, register and other forms like that-->

{% extends 'base.html' %}
{% block head %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    {% block form %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% block content %}{% endblock %}
{% endblock %}