{% extends 'form.html' %}
{% block head %}
<title>Item</title>
{% endblock %}
{% block form %}
<br><br>
<h5 class="card-title text-center">{{ product.name }}</h5><br><br><br>
<div class="form-label-group">
    <button class="btn btn-lg btn-dark btn-block text-uppercase" type="button" onclick="location.href='{{ id }}/reviews'">Reviews</button><br><br>
</div>
<div class="form-label-group">
    <button class="btn btn-lg btn-dark btn-block text-uppercase" type="button" onclick="location.href='{{ id }}/feedback'">Feedback</button><br><br>
</div>
<div class="form-label-group">
    <button class="btn btn-lg btn-dark btn-block text-uppercase" type="button" onclick="location.href='{{ id }}/ask'">Ask Questions</button>
</div>
{% endblock %}